@page
@model MotorcycleShopEtay.Pages.Accessories.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Accessorie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Accessorie.Id" />
            <div class="form-group">
                <label asp-for="Accessorie.Name" class="control-label"></label>
                <input asp-for="Accessorie.Name" class="form-control" />
                <span asp-validation-for="Accessorie.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accessorie.Brend" class="control-label"></label>
                <input asp-for="Accessorie.Brend" class="form-control" />
                <span asp-validation-for="Accessorie.Brend" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Accessorie.Description" class="control-label"></label>
                <input asp-for="Accessorie.Description" class="form-control" />
                <span asp-validation-for="Accessorie.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accessorie.size" class="control-label"></label>
                <select asp-for="Accessorie.size" class="form-control" asp-items="ViewBag.size">
                    <option>Select Size</option>
                    <option value=" XS">XS</option>
                    <option value=" S">S</option>
                    <option value=" M">M</option>
                    <option value=" L">L</option>
                    <option value=" XL">XL</option>
                </select>
            </div>
                   
            <div class="form-group">
                <label asp-for="Accessorie.Price" class="control-label"></label>
                <input asp-for="Accessorie.Price" class="form-control" />
                <span asp-validation-for="Accessorie.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
